.toDo_container {
    position: absolute;
    width: 85vw;
    left: 15vw;
    height: 100%;
    background: none;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toTo_title{
    padding: 20px;
}

.task {
    width: 80%;
    /* border-radius: 15px; */
    overflow: hidden;
}

.collapsible {
    margin-top: 15px;
    width: 100%;
    padding: 10px 10px 10px 20px;
    background-color: #122036;
    color: #E7EBF0;
    text-align: left;
    cursor: pointer;
    /* border-radius: 50px; */
    /* box-shadow: 0 0 20px 6px #090b6f85; */
}

.task_content {
    width: 100%;
    height: 0;
    background-image: linear-gradient(to top, #a40baa, #bc009f, #cf0093, #df0086, #eb127a);
    transition-duration: .5s;
}

.active {
    height: 100px;
}